@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;400;700&display=swap');
@import url(reset.css);
@import url(iconfonts.css);

.container {
   width: 555px;
   margin: 30px auto;
}

.widget_inner {
   font-family: 'Fira Sans', sans-serif;
   height: 260px;
   background-image: url(../img/background.jpg);
   background-position: center;
   background-repeat: no-repeat;
   color: white;
   box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.5);
   position: relative;
}

.icon {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 30px;
   left: 400px;

}

.city {
   padding-top: 20px;
   margin-left: 70px;
   font-size: 30px;
   font-weight: 100;
}

.weather__up {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

}

.date-container {
   margin-left: 70px;
   font-size: 15px;
   font-weight: 100;

}

.second {
   font-size: 10px;
   position: relative;
   left: 42px;
   top: 10px;
}

.temp {
   font-size: 75px;

}

.options {
   padding-top: 15px;
   font-size: 10px;
   display: flex;
   justify-content: center;
   gap: 0 30px;
}

.weather__item {
   display: flex;
   flex-direction: column;
   align-items: left;
   gap: 5px;
   font-weight: 200;
}

.weather__item span {
   padding-right: 3px;
}